@page "/Documents"
@using InformationPersonnelle.Shared.Dtos
@inherits Documentsbase

@if (Categories == null)
{
    <DisplaySpinner/>
}
else
{
    <h3 class="mb-5"> Documents</h3>

    <div class="container-folder">

        @foreach (var categorie in CategoriesPourAfficher)
        {
            <div class="folder-file" @onclick="@(() => ouvrirDossier(categorie))">
                <img src="divers/dossier.svg" />
                <span>@categorie.Libelle</span>
            </div>
        }

        @if (DocumentsPourAfficher.Count > 0)
        {
            @foreach (var document in DocumentsPourAfficher)
            {
                <a class="folder-file" href="@document.Chemin" target="_blank">
                    <img src="divers/fichier.svg" />
                    <span>@document.Libelle</span>
                </a>
            }
        } 
        @if(CategoriesPourAfficher.Count() == 0 && DocumentsPourAfficher.Count == 0)
        {
            <p>Aucun document disponible</p>
        }

    </div>

    <img class="parent-folder retour" src="divers/home.svg" @onclick=retourRacine/>
    <img class="parent-folder retour" src="divers/back.svg" @onclick=retourParent/>
        
}
